video#remote-screen {
  display:block;
  max-width: 100vw;
  max-height: 100vh;
}

#main {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.85;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#expand-controlls {
    display: none;
}

#main.minimized h1 {
    display: none;
}

#main.minimized #expand-controlls {
    display: inline-block;
}

#main.minimized #minimize-controlls {
    display: none;
}

#main.minimized #chat-name-group {
    display: none;
}

#main.minimized #send-chat {
    display: none;
}

#main.minimized #chat-messages {
    min-height: 50px;
    max-height: 200px;
}