#main {
    width: 460px;
    margin: 15px;
}

#chat-messages {
    min-height: 200px;
    max-height: 400px;
    overflow-y:scroll;
}

.chat-time {
    color: #ccc;
}

body {
    background-color: #eee;
}