@()

@main("Share desktop") {
  <h1>Let's share desktop</h1>

  <video id="mirror" autoplay></video>

  <div>
    <label for="chat-name">Chat name:</label>
    <input id="chat-name" type="text" placeholder="Chat name" value="Presenter"></input>
    <button id="share">Share desktop</button>
    <button id="stop" disabled>Stop sharing</button>
  </div>

  <h2>Chat</h2>
  <textarea id="chat-input" placeholder="Text to be send" rows="1" cols="53"></textarea>

  <div>
    <button id="send-chat" disabled>Send chat</button>
  </div>

  <textarea id="chat-messages" disabled placeholder="Chat messages" rows="20" cols="53"></textarea>

  <script src="@routes.Assets.versioned("javascripts/shared-desktop.js")" type="text/javascript"></script>
}
